.page {
    height: 100vh;
    background: black;
    color: white;
}

.slider {
    display: flex;
    justify-content: space-between;

    &__container {
        width: 1000px;
        margin: 0 auto;
    }

    &__item {
        border: 1px solid white;
        height: 350px;
        width: 30%;
        font-size: 3em;
    }

    &__button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 20px auto;
        padding: 3px;
    }

    &__button {
        background: lightblue;
        color: black;
        border-radius: 4px;
        padding: 3px 7px;
    }
}